<div class="container">

    <div class="row d-flex justify-content-center">
        <img src="../public/assets/img/burger.jpg" alt="burger pic" height="100" width="100">
    </div>

    <div class="row d-flex justify-content-center">
        <h1>Eat-Da-Burger!</h1>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <h2>Add a Burger</h2>
    </div>
    <div class="row d-flex justify-content-center">
        <form id="addBurger" class="button-size">
            <textarea type="text" name="burger"></textarea>
        </form>
    </div>
    <div class="row d-flex justify-content-center">
        <button id="burgerSubmit" type="button" class="btn btn-danger">Submit</button>
    </div>
</div>

<script type="text/javascript">

    $("#burgerSubmit").on("click", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newBurger = {
            burger: $("#addBurger [name=burger]").val().trim()
        };

        console.log(newBurger);

        // Send the POST request.
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("added new burger");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $(".devoured-burger").on("click", function (event) {
        event.preventDefault();

        var id = $(this).data("id");
        var newDevour = $(this).data("devoured");

        var newDevourState = {
            devoured: newDevour
        };

        // Send the PUT request.
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newDevourState
        }).then(
            function () {
                console.log("changed devour to", newDevour);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

</script>