<li>
	{{this.id}}. {{this.burger_name}}

	{{#unless devoured}}
	<button class="devoured-burger btn btn-danger" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Devour It!</button>
	{{/unless}}
</li>